.wrapper {
    width: 60%;
    margin: 41px auto;
    background: #eee;
    padding: 20px 40px;
    text-align: center;
}
input, textarea, select {
    width: 100%;
}
table {
    margin: 66px auto;
}
table {
    margin: 66px auto;
    background: #999;
    padding: 68px 45px;
    border-radius: 0 48px;
    box-shadow: inset 14px 8px 7px #888, inset -14px -8px 7px #888;
}